*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;

  /* Prevent blue outline when clicking on elements from a mobile phone(esp. Android) */

  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  background: #1f001f;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 60%;
  }
}
